<div class="displayTable">
    <div class="displayTableCell">
      <div class="authBlock">
        <h3>Restablecer Password</h3>
  
        <p class="text-center">Por favor, introduzca su correo electrónico.</p>
  
        <div class="formGroup">
          <input type="email" class="formControl" placeholder="Email" #passwordResetEmail required>
        </div>
  
        <!-- Calling ForgotPassword from AuthService Api -->
        <div class="formGroup">
          <input type="submit" class="btn btnPrimary" value="Restablecer Password" (click)="authService.ForgotPassword(passwordResetEmail.value)">
        </div>
      </div>
  
      <div class="redirectToLogin">
        <span>Volver <span class="redirect" routerLink="/sign-in">Log In</span></span>
      </div>
  
    </div>
  </div>