<div class="container py-4">
    <div class="bg-light mb-4 p-5 rounded-3">
        <div class="container-fluid py-5 row">
            <div class="col-md-6">
                <img class=""  src={{course.mainImage}} alt={{course.altMainImage}}>
            </div>
            <div class="col-md-6">
                <h1 class="display-5 fw-bold">{{course.title}}</h1>
                <h2 class="display-5 fw-bold">{{course.subtitle}}</h2>
                <p class="col-md-8 fs-4">{{course.description}}</p>
            </div>
        </div>
        <div class="container-fluid py-5 row">
            <div *ngFor="let subject of syllabus"  class="col-md-12">
                <h1 class="display-5 fw-bold">{{subject?.id}}.- {{subject?.name}}</h1>
                <!-- <h2 class="display-5 fw-bold" [innerHTML] = "subject?.text"></h2> -->
            </div>
        </div>
    </div>
</div>