<div class="displayTable">
    <div class="displayTableCell">
  
      <div class="authBlock">
        <h3>Gracias por registrarse</h3>
  
        <div class="formGroup" *ngIf="authService.userData as user">
          <p class="text-center">Le hemos enviado un email de confirmación al correo <strong>{{user.email}}</strong>.</p>
          <p class="text-center">Por favor compruebe su bandeja de entrada y verifique el correo.</p>
        </div>
        
        <!-- Calling SendVerificationMail() method using authService Api -->
        <div class="formGroup">
          <button type="button" class="btn btnPrimary" (click)="authService.SendVerificationMail()">
            <i class="fas fa-redo-alt"></i>
            Reenviar correo de verificación.
          </button>
        </div>
  
      </div>
  
      <div class="redirectToLogin">
        <span>Volver<span class="redirect" routerLink="/sign-in"> Log in</span></span>
      </div>
  
    </div>
  </div>